FIREBASE_PROJECT_ID=xxxxxxxxxxxx
FIREBASE_PRIVATE_KEY_ID=xxxxxxxxxxxx
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nxxx\n-----END PRIVATE KEY-----\n
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-she4o@xxxxxxxxxxxx.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=xxxxxxxxxxxx
FIREBASE_CLIENT_CERT=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxxxxxxxxx.iam.gserviceaccount.com
FIREBASE_API_KEY=xxxxxxxxxxxx
FIREBASE_AUTH_DOMAIN=xxxxxxxxxxxx.firebaseapp.com
FIREBASE_DATABASE_URL=https://xxxxxxxxxxxx.firebaseio.com
FIREBASE_STORAGE_BUCKET=xxxxxxxxxxxx.appspot.com
FIREBASE_APP_ID=xxxxxxxxxxxx
